*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Mulish', sans-serif; }

.nav {
  width: 144rem;
  height: 55.4rem;
  margin: 0 auto;
  background: linear-gradient(173deg, #3d2e80 0%, #c11d60 100%);
  color: #fff; }
  .nav_top {
    display: flex;
    flex-direction: row;
    margin-top: 5.7rem; }

.footer {
  width: 144rem;
  height: 72.1rem;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #3D2E80 50%, #DC1969);
  display: flex;
  flex-direction: column;
  color: #fff; }
  .footer .headline_2 {
    width: 65.6rem;
    height: 11.8rem;
    line-height: 5.9rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 13.9rem; }
